.service-info{
    border-radius: 5px;
    box-shadow: 1px 5px 10px gray;
    transition: transform 0.8s ease;
    cursor: pointer;
    margin-top: 50px;
}
.service-info h5{
    font-weight: bold;
}
.text-color{
    color: rgb(122, 178, 89);
}
.services-title h2{
    font-weight: bold;
}
.service-info:hover{
    transform: scale(1.05);
}