.background-color{
    background-color: #111430;
}
.work-title h3{
    font-weight: bold;
    color: white;
    padding: 50px;
}
.brcpxa{
    background-color: rgb(251, 207, 96) !important;
    box-shadow: none !important;
}
.ikyGAt{
    background-color: gray !important;
    box-shadow: none !important;
}
.chowzb{
    display:none;
}
.hCVuYx{
    display:none;
}